header {
    grid-area: he;
}

nav {
    grid-area: na;
    background-color: rgb(0, 135, 104);
}

#baltartalom {
    grid-area: ba;
}

#kozeptartalom {
    grid-area: ko;
}

#jobbtartalom {
    grid-area: jo;
}

footer {
    grid-area: fo;
    color: rgb(0, 135, 104);
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas:
        'he he'
        'na na'
        'ba jo'
        'fo fo';
}

.arckep {
    width: 100%;
    height: auto;
}

.autok {
    width: 100%;
    height: auto;
}

h1 {
    color: rgb(0, 135, 104);
}

nav>a {
    color: rgb(91, 206, 190);
    text-decoration: none;
    padding: 20px;
}

* {
    padding: 5px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#jobbtartalom>img {
    border-radius: 5px;
    border: 2px grey solid;
    margin: 0px;
}

.kozep {
    display: block;
}

#kozeptartalom>h2,
.kozep,
.ures {
    border: grey 1px solid;
}

#baltartalom>h2,
.kozep,
.ures {
    border: grey 1px solid;
}

#baltartalom>h2, #kozeptartalom>h2, .ures{background-color: lightgrey;}
#baltartalom>h2, #kozeptartalom>h2{color: rgb(0, 135, 104); font-size: 80%; font-weight: normal;}

ol>li{text-align: justify;}
ol{margin-left: 25px;}


#cimsor{border-bottom: black 2px solid;}